


            <div class="overallAccord"  >
               <h3 class="accordion" >
                  <a class="bold" href="javascript:void(0)">Electronics &#9662</a>
               </h3>
               <ul>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click='accordion1=!accordion1'>
                        {{v}}
                        <ul ng-repeat='ob1 in aa' ng-show="accordion1">
                           <li class="accordion-content" >
                     <a href="javascript:void(0)"  >- {{ob1.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content">
                     <a class="makebold" href="javascript:void(0)" ng-click='accordion2=!accordion2'>
                        {{w}}
                        <ul ng-repeat='ob1 in bb' ng-show="accordion2" >
                           <li class="accordion-content" >
                     <a href="javascript:void(0)">- {{ob1.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion3=!accordion3">
                        {{x}}
                        <ul ng-repeat='ob1 in cc' ng-show="accordion3">
                           <li class="accordion-content"  >
                     <a href="javascript:void(0)" >- {{ob1.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion4=!accordion4">
                        {{y}}
                        <ul ng-repeat='ob1 in dd' ng-show="accordion4">
                           <li class="accordion-content">
                     <a href="javascript:void(0)" >- {{ob1.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion5=!accordion5">
                        {{z}}
                        <ul ng-repeat='ob1 in ee' ng-show="accordion5">
                           <li class="accordion-content" >
                     <a href="javascript:void(0)">- {{ob1.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
               </ul>
               <h3 class="accordion">
                  <a  class="bold" href="javascript:void(0)">Men  &#9662</a>
               </h3>
               <ul>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion6=!accordion6">
                        {{v1}}
                        <ul ng-repeat='ob2 in aa1' ng-show="accordion6">
                           <li class="accordion-content"  >
                     <a href="javascript:void(0)">- {{ob2.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion7=!accordion7">
                        {{w1}}
                        <ul ng-repeat='ob2 in bb1'  ng-show="accordion7">
                           <li class="accordion-content" >
                     <a href="javascript:void(0)">- {{ob2.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion8=!accordion8">
                        {{x1}}
                        <ul ng-repeat='ob2 in cc1' ng-show="accordion8">
                           <li class="accordion-content"  >
                     <a href="javascript:void(0)">- {{ob2.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion9=!accordion9">
                        {{y1}}
                        <ul ng-repeat='ob2 in dd1' ng-show="accordion9" >
                           <li class="accordion-content" >
                     <a href="javascript:void(0)">- {{ob2.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion10=!accordion10">
                        {{z1}}
                        <ul ng-repeat='ob2 in ee1' ng-show="accordion10">
                           <li class="accordion-content"  >
                     <a href="javascript:void(0)" >- {{ob2.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
               </ul>
               <h3 class="accordion">
                  <a  class="bold" href="javascript:void(0)" >Women  &#9662</a>
               </h3>
               <ul>
                  <li class="accordion-content " >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion11=!accordion11">
                        {{v2}}
                        <ul ng-repeat='ob3 in aa2' ng-show="accordion11">
                           <li class="accordion-content "  >
                     <a href="javascript:void(0)" >- {{ob3.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion12=!accordion12">
                        {{w2}}
                        <ul ng-repeat='ob3 in bb2' ng-show="accordion12">
                           <li class="accordion-content"  >
                     <a href="javascript:void(0)">- {{ob3.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion13=!accordion13">
                        {{x2}}
                        <ul ng-repeat='ob3 in cc2' ng-show="accordion13" >
                           <li class="accordion-content" >
                     <a href="javascript:void(0)">- {{ob3.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion14=!accordion14">
                        {{y2}}
                        <ul ng-repeat='ob3 in dd2' ng-show="accordion14">
                           <li class="accordion-content"  >
                     <a href="javascript:void(0)">- {{ob3.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
                  <li class="accordion-content" >
                     <a class="makebold" href="javascript:void(0)" ng-click="accordion15=!accordion15">
                        {{z2}}
                        <ul ng-repeat='ob3 in ee2' ng-show="accordion15">
                           <li class="accordion-content" >
                     <a href="javascript:void(0)">- {{ob3.name}}</a>
                     </li>
                     </ul>
                     </a>
                  </li>
               </ul>
               <h3 class="accordion" ng-click="accordion16=!accordion16">
                  <a href="javascript:void(0)"  class="bold" href >Furnitures  &#9662</a>
               </h3>
               <ul ng-repeat='ob4 in v3' ng-show="accordion16">
                  <li class="accordion-content" >
                     <a href="javascript:void(0)" >- {{ob4}}</a>
               </ul>
               <h3 class="accordion" ng-click="accordion17=!accordion17">
                  <a href="javascript:void(0)"  class="bold" href >Books  &#9662</a>
               </h3>
               <ul ng-repeat='ob5 in v4' ng-show="accordion17">
                  <li class="accordion-content" >
                     <a href="javascript:void(0)" >- {{ob5}}</a>
               </ul>
            </div>
       
		 